# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate*

# plan files
*.tfplan

# terraform.tfvars files
terraform.tfvars

# .env files (keep the checked-in example)
.env*
!.env.tpl.example
